<nz-layout class="main">
    <nz-sider 
        [nzWidth]="siderWidth()"
        [nzCollapsible]="true"
        class="sider"
    >
        <ul 
            nz-menu 
            nzMode="inline"
        >
            @for (item of [1,2]; track $index) {
                <li 
                    nz-menu-item     
                >
                    <span nz-icon nzType="mail"></span>
                    <span>Navigation One</span>
                </li>
            }
        </ul>
    </nz-sider>

    <nz-content class="content">
        <router-outlet></router-outlet>
    </nz-content>
</nz-layout>