<ng-container *transloco="let t">
    <nz-table 
      #basicTable
      nzShowSizeChanger
      [nzData]="tableData()"
      [nzLoading]="isLoading()"
      [nzTotal]="100"
      [nzFrontPagination]="false"
      [nzPageSizeOptions]="[10,20,40]"
      (nzQueryParams)="onPageSizeChange($event)"
    >
      <thead>
        <tr>
          @for (col of tableCols$ | async; track col) {
            <th nzCustomFilter>
              {{t(col.name)}}
              
              @if (col.icon) {
                <nz-filter-trigger>
                  <sili-svg-icon 
                    [name]="col.icon">
                  </sili-svg-icon>
                </nz-filter-trigger>
              }
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of basicTable.data; track item.id) {
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.telephone_number}}</td>
            <td>{{item.created_at | date: 'd-MMMM, yyyy'}}</td>
            <td>{{item.status}}</td>
          </tr>
        }
      </tbody>
  </nz-table>
</ng-container>

