<ng-container *transloco="let t">
    <thead>
        <tr>
            @for (col of tableCols(); track col.name) {
                <th 
                    [nzCustomFilter]="!!col.customFilters"
                    [nzSortFn]="col.isSort"
                    [nzShowSort]="col.isSort"
                    [nzColumnKey]="col.field"
                >
                    {{t('table.cols.' + col.name)}}
    
                    @for (filter of col.customFilters; track $index) {
                        <nz-filter-trigger>
                            <sili-svg-icon 
                                [name]="filter.icon">
                            </sili-svg-icon>
                        </nz-filter-trigger>
                    }
                </th>
            }
        </tr>
    </thead>
</ng-container>