@gap: 16px;

.feedback {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    .charts {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: @gap;

        .year {
            width: calc(50% - @gap);
        }

        .week { 
            width: calc(50% - @gap);
        }
    }
}