<section class="feedback">
    <div class="charts">
        <ng-container *ngIf="chartStatusOptions$ | async as options">
            <apx-chart
                [series]="options?.series"
                [chart]="options?.chart"
                [labels]="options?.labels | translateList"
                [stroke]="options?.stroke">
            </apx-chart>
        </ng-container>
        <ng-container *ngIf="chartYearOptions$ | async as options">
            <apx-chart
                nz-col 
                nzFlex="1 1 200px"
                [series]="options?.series"
                [chart]="options?.chart"
                [xaxis]="options?.xaxis | translateObj: 'categories'"
                [tooltip]="options?.tooltip">
            </apx-chart>
        </ng-container>
    </div>
    <sili-table
        [tableCols]="tableCols$ | async"
        [isLoading]="filterForm.disabled"
        [tableData]="tableData$ | async"
        [isSizeChanger]="true"
        (onQueryChange)="onQueryChange($event)">
    </sili-table>
</section>