<section class="feedback">
    <ng-container *ngIf="chartOptions$ | async as options">
        <apx-chart
            [series]="options?.series"
            [chart]="options?.chart"
            [xaxis]="options?.xaxis"
            [tooltip]="options?.tooltip"
            class="chart">
        </apx-chart>
    </ng-container>
    <sili-table
        [tableCols]="tableCols$ | async"
        [isLoading]="filterForm.disabled"
        [tableData]="tableData$ | async"
        [isSizeChanger]="true"
        (onQueryChange)="onQueryChange($event)">
    </sili-table>
</section>