span {
    cursor: text !important;

    a.default {
        color: inherit;
        pointer-events:none;
        cursor: text;
    }
}

.payment {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 12px;
}