<ng-container *transloco="let t">
    @switch (type()) {
        @case ('time') {
            {{time() | date: 'dd-MM-yyyy HH:mm'}}
        }
        @case ('status') {
            <ng-container 
                [ngTemplateOutlet]="tagRef"
                [ngTemplateOutletContext]="{ data: 'status'}">
            </ng-container>
        }
        @case ('checkStatus') {
            <ng-container 
                [ngTemplateOutlet]="tagRef"
                [ngTemplateOutletContext]="{ data: 'checkStatus'}">
            </ng-container>
        }
        @default {
            <span>
                <a 
                    [ngClass]="{default: type() === 'text'}"
                    [href]="hrefLink()"
                >
                    {{value()}}
                </a>
            </span>
        }
    }

    <ng-template #tagRef let-data="data">
        <sili-tag 
            [type]="data"
            [value]="value()">
        </sili-tag>
    </ng-template>
</ng-container>

