<button 
    nz-button
    nz-tooltip
    [nzTooltipTitle]="tooltipTitle()"
    [nzTooltipTrigger]="tooltipTrigger()"
    [nzTooltipArrowPointAtCenter]="tooltipArrow()"
    [nzTooltipMouseEnterDelay]="tooltipMouseEnterDelay()"
    [nzType]="mode()"
    [nzShape]="'circle'"
    [nzSize]="size()"
    [nzDanger]="danger()"
    [disabled]="blocked()"
    [nzGhost]="ghost()"
    [nzLoading]="loading()"
    [attr.aria-label]="ariaLabel()"
    (click)="clicked.emit()"
>
    @if(!loading()) {
        <ng-content></ng-content>
    }
</button>
