<button 
    nz-button
    nz-tooltip
    [(nzTooltipVisible)]="isTooltip"
    [nzTooltipTitle]="tooltipText"
    [nzTooltipTrigger]="tooltipTrigger"
    [nzTooltipArrowPointAtCenter]="tooltipArrow"
    [nzTooltipMouseEnterDelay]="tooltipMouseEnterDelay"
    [nzType]="type"
    [nzShape]="'circle'"
    [nzSize]="size"
    [nzDanger]="danger"
    [disabled]="blocked"
    [nzGhost]="ghost"
    [nzLoading]="loading"
    [attr.aria-label]="ariaLabel"
    (click)="onClick()"
>
    <ng-content></ng-content>
</button>