@import 'node_modules/ng-zorro-antd/style/variable.less';
@import 'node_modules/ng-zorro-antd/style/entry.less';
@import (multiple) 'node_modules/ng-zorro-antd/src/style/themes/dark';
@import (multiple) 'colors';


@primary-color: @sili-purple-9;
@body-background: @sili-black-10;

//auht-layout
@auth-layout-aside: @sili-blue-linear;

