@import 'node_modules/ng-zorro-antd/style/variable.less';
@import 'node_modules/ng-zorro-antd/style/entry.less';
@import 'node_modules/ng-zorro-antd/dropdown/style/entry.less';
@import 'node_modules/ng-zorro-antd/button/style/entry.less';
@import 'node_modules/ng-zorro-antd/typography/style/entry.less';
@import 'node_modules/ng-zorro-antd/divider/style/entry.less';
@import 'node_modules/ng-zorro-antd/flex/style/entry.less';
@import 'node_modules/ng-zorro-antd/input/style/entry.less';
@import 'node_modules/ng-zorro-antd/form/style/entry.less';
@import 'node_modules/ng-zorro-antd/message/style/entry.less';
@import 'node_modules/ng-zorro-antd/tooltip/style/entry.less';
@import 'reset-css';

@import (multiple) 'node_modules/ng-zorro-antd/src/style/themes/default';
@import (multiple) 'colors';

@import 'override';

@primary-color: @sili-blue-9;
@body-background: @sili-grey-4;

//nz-disable
@disabled-bg: fade(@sili-white-7, 80%);

//nz-form
@label-color: fade(@sili-grey-9, 90%);

//auth-layout
@auth-layout-aside: @sili-blue-linear;
@auth-layout-text: @sili-white-1;

//nz-button
@btn-disable-bg: fade(@sili-grey-7, 80%);