//nz-border
@border-radius-base: 6px;

//nz-form
@form-item-label-height: 36px;

//nz-height
@height-base: 36px;
@height-lg: 42px;
@height-sm: 28px;

//nz-button
.ant-btn-round,
.ant-btn-round.ant-btn-lg,
.ant-btn-round.ant-btn-sm {
    border-radius: @border-radius-base;
}

//nz-typography
@typography-title-margin-top: 0;
@typography-title-margin-bottom: 0;

//nz-divider
.ant-divider {
    margin: 0;
}

//menu
@menu-inline-toplevel-item-height: 50px;