<nz-form-item>
    <nz-form-label
        [nzLabelAlign]="'left'"
        [nzXs]="24"
        [nzLabelWrap]="labelWrap"
        [nzRequired]="required" 
        [nzFor]="label"
        [nzNoColon]="noColon"
    >
       <span class="label">{{label}}</span>
    </nz-form-label>
    <nz-form-control 
        [nzHasFeedback]="isFeedback"
        [nzValidateStatus]="status"
        [nzErrorTip]="message"
        [nzValidatingTip]="message"
        [nzWarningTip]="message"
        [nzSuccessTip]="message"
    >
        <nz-input-group 
            [nzSize]="size"
            [nzSuffix]="suffix"
        >
            <input 
                nz-input 
                [type]="type"
                [disabled]="blocked"
                [id]="label" 
                [(ngModel)]="value"
                (ngModelChange)="onModelChange($event)"
            />
        </nz-input-group>

        <ng-template #suffix>
            <ng-content></ng-content>
        </ng-template>
    </nz-form-control>
</nz-form-item>